<div class="ept-test-component">
	<ept-question ng-if="isQuestion()" 
	question="component" 
	question-num="componentNum" 
	on-response-changed="onResponseChangedCallback(question)"
	is-admin="isAdmin" 
	on-question-deleted="onComponentDeletedCallback(question)"
    highlight-correct="highlightCorrect"
	></ept-question>

	<ept-test-html ng-if="isHtml()" content="component.content"
		editable="isAdmin" on-content-deleted="onComponentDeletedCallback()"></ept-test-html>
	<ept-test-video ng-if="isVideo()" uploadable="isAdmin" content="component.content" on-content-deleted="onComponentDeletedCallback()"></ept-test-video>
</div>