<div class="container page-wrapper">
    <header class="page-header clear-fix">
        <span class="back">
        <!-- <i class="ept-back-button fa fa-arrow-left" ng-click="goBack()"></i></span> -->
        <h3 class="page-title">
            {{exam.name}} ({{exam.score}}/{{exam.totalScore}})
        </h3>
    </header>
    <div class="container">
        <div ng-repeat="category in exam.categories">
            <h2>{{category.ordering}}. {{category.name}}</h2>
            <hr>
            <ept-test-component ng-repeat="component in category.testComponents | orderBy:'ordering'" component="component" component-num="component.questionIndex" highlight-correct="true">
            </ept-test-component>
        </div>    
    </div>
</div>